.ampstart-nav-item {

  display: block;

  border: none;

  color: #fff !important;

  /* padding: 9px !important; */

  font-size: 16px;

text-decoration: none !important;

}



.ampstart-nav-item:hover{

text-decoration: none !important;

}



a:focus, a:hover {

  color: #23527c;

  text-decoration: none !important;

}



.ampstart-nav-dropdown {

  min-width: 56px;

}



.book-now {

  background: transparent;

  border-radius: 0;

  padding: 10px 25px;

  color: #fff;

  border: 1px solid #fff;

  position: relative;

  margin-top: 5px;

}

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  -moz-font-smoothing: antialiased;

  -o-font-smoothing: antialiased;

  font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

}





body {

  font-family: "Roboto", Helvetica, Arial, sans-serif;

  font-weight: 100;

  font-size: 12px;

  line-height: 30px;

  color: #777;

  background: #ffffff;

}



.container {

    max-width: 364px;

    margin-bottom: 2rem;

    width: 100%;

    margin: 0 auto;

    position: relative;

    margin-bottom: 2rem;

}



#contact input[type="text"],

#contact input[type="email"],

#contact input[type="tel"],

#contact input[type="url"],

#contact textarea,

#contact button[type="submit"] {

  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;

}



#contact {

  background: #F9F9F9;

  padding: 25px;

  margin: 0;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}



#contact h3 {

  display: block;

  font-size: 30px;

  font-weight: 300;

  margin-bottom: 10px;

}



#contact h4 {

  margin: 5px 0 15px;

  display: block;

  font-size: 13px;

  font-weight: 400;

}



fieldset {

  border: medium none !important;

  margin: 0 0 10px;

  min-width: 100%;

  padding: 0;

  width: 100%;

}



#contact input[type="text"],

#contact input[type="email"],

#contact input[type="tel"],

#contact input[type="url"],

#contact textarea {

  width: 100%;

  border: 1px solid #ccc;

  background: #FFF;

  margin: 0 0 5px;

  padding: 10px;

}



#contact input[type="text"]:hover,

#contact input[type="email"]:hover,

#contact input[type="tel"]:hover,

#contact input[type="url"]:hover,

#contact textarea:hover {

  -webkit-transition: border-color 0.3s ease-in-out;

  -moz-transition: border-color 0.3s ease-in-out;

  transition: border-color 0.3s ease-in-out;

  border: 1px solid #aaa;

}



#contact textarea {

  height: 100px;

  max-width: 100%;

  resize: none;

}



#contact button[type="submit"] {

  cursor: pointer;

  width: 100%;

  border: none;

  background: #4CAF50;

  color: #FFF;

  margin: 0 0 5px;

  padding: 10px;

  font-size: 15px;

}



#contact button[type="submit"]:hover {

  background: #43A047;

  -webkit-transition: background 0.3s ease-in-out;

  -moz-transition: background 0.3s ease-in-out;

  transition: background-color 0.3s ease-in-out;

}



#contact button[type="submit"]:active {

  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

}



.copyright {

  text-align: center;

}



#contact input:focus,

#contact textarea:focus {

  outline: 0;

  border: 1px solid #aaa;

}



::-webkit-input-placeholder {

  color: #888;

}



:-moz-placeholder {

  color: #888;

}



::-moz-placeholder {

  color: #888;

}



:-ms-input-placeholder {

  color: #888;

}

.list-reset2 li {

  display: inline-block;

  padding: 0px 6px;

}

.list-reset h3 {

  padding: 6px 0px;

font-size: 20px;

}

footer.commerce-footer.center {

  /* padding-top: 25px;

    background: #00A3E0; */

}

footer.commerce-footer.center h4 {

font-family: 'Cormorant Garamond', serif !important;

text-transform: unset !important;

}

footer.commerce-footer .container {

margin-bottom: 0 !important;

}



.f-links li {

  float: left;

  color: #ffffff;

  font-size: 14px;

  font-weight: normal;

  width: 100%;

  margin-bottom: 0 !important;

}



.footer-link {

  font-size: 13px;

  font-family: 'NunitoRegular';

  margin-bottom: 0 !important;

}



p.center.pb2 {

  font-size: 10px;

}

.commerce-footer p {

  font-size: 13px;

}

.footer-link.ftr-location{

margin-bottom: 15px !important;

padding-left: 24px !important;

}

.footer-link .social-icon, .ftr-location i{

top:6px

}

.f-links li{

margin-bottom:8px !important

}

footer.commerce-footer.center h4{

color:#fff !important

}